<html> 
        <head>
                <link rel="stylesheet" href="style.css">
        </head>
    <body>
            <h1>Update Task Status By TaskID</h1>
            <a href= '/'>| Home |</a>
            <a href= '/addnewdeveloper'>| Add New Developer |</a>
            <a href= '/addnewtask'>| Add New Task |</a>
            <a href= '/listalltasks'>| List All Tasks |</a>
            <a href= '/getdevelopers'>| List All Developers |</a>
            <a href= '/deletebyid'>| Delete Task By TaskID |</a>
            <a href="/deletecompletedtasks">| Delete The Completed Tasks |</a>
            <a href="/update">| Update Task Status By TaskID |</a><br>

            <form action = "/update" method = 'POST'>
            Task ID <input type = "text" name = "taskId"/><br>
            New Task Status <select name="newTaskStatus">
                <option value ="InProgress" name = "inProgress">InProgress</option>
                <option value ="Complete" name = "complete">Complete</option>
            </select> <br>
            <button>Submit</button>
            
        </form>
    </body>
</html>